BODY {
	FONT: 11px Tahoma, Arial; COLOR: #222222; BACKGROUND-COLOR: #ffffff
}
.ptitle {
	BORDER-RIGHT: #0575d1 1px solid; BORDER-TOP: #0575d1 1px solid; FONT: bold 11px Tahoma, Arial, Helvetica; BORDER-LEFT: #0575d1 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #0575d1 1px solid; BACKGROUND-COLOR: #0f91f9
}
HR {
	COLOR: #ffffff; HEIGHT: 1px
}
A:link {
	FONT: 11px Tahoma, Arial, Helvetica; COLOR: #ffffff; TEXT-DECORATION: underline
}
A:visited {
	FONT: 11px Tahoma, Arial, Helvetica; COLOR: #ffffff; TEXT-DECORATION: underline
}
A:hover {
	FONT: 11px Tahoma, Arial, Helvetica; COLOR: #ffffff; TEXT-DECORATION: none
}
A:hover {
	FONT: 11px Tahoma, Arial, Helvetica; COLOR: #ffffff; TEXT-DECORATION: none
}
.TreeMenuTitle {
	FONT: 600 18px Arial, Helvetica; COLOR: #888888
}
.XPRedTopBack {
	FONT: 13px Tahoma, Arial, Helvetica; COLOR: #fdc2c2; BACKGROUND-COLOR: #db8181
}
.XPRedMainBack {
	BACKGROUND-IMAGE: url(img/xpback_Red.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #db8181
}
.XPRedMenuBack {
	FONT: bold 10px Arial, Helvetica; COLOR: #ffffff; BACKGROUND-COLOR: #e19797
}
.XPRedHorLine {
	BACKGROUND-COLOR: #f0cdcd
}
.XPRedExTitle {
	FONT: bold 13px Tahoma, Arial, Helvetica; COLOR: #fdc2c2
}
.XPRedText {
	FONT: 11px Tahoma, Arial; COLOR: #ffffff
}
.XPRedTitle {
	FONT: bold 20px Arial, Helvetica; COLOR: #ffffff
}
.XPGreenTopBack {
	FONT: 13px Tahoma, Arial, Helvetica; COLOR: #aaf7a2; BACKGROUND-COLOR: #79c370
}
.XPGreenMainBack {
	BACKGROUND-IMAGE: url(img/xpback_Green.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #79c370
}
.XPGreenMenuBack {
	FONT: bold 10px Arial, Helvetica; COLOR: #ffffff; BACKGROUND-COLOR: #90cd89
}
.XPGreenHorLine {
	BACKGROUND-COLOR: #cbe7c7
}
.XPGreenExTitle {
	FONT: bold 13px Tahoma, Arial, Helvetica; COLOR: #d3face
}
.XPGreenText {
	FONT: 11px Tahoma, Arial; COLOR: #333333
}
.XPGreenTitle {
	FONT: bold 20px Arial, Helvetica; COLOR: #ffffff
}
.XPOrangeTopBack {
	FONT: 13px Tahoma, Arial, Helvetica; COLOR: #ffd4a2; BACKGROUND-COLOR: #da9f5b
}
.XPOrangeMainBack {
	BACKGROUND-IMAGE: url(img/xpback_orange.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #da9f5b
}
.XPOrangeMenuBack {
	FONT: bold 10px Arial, Helvetica; COLOR: #ffffff; BACKGROUND-COLOR: #dfb07a
}
.XPOrangeHorLine {
	BACKGROUND-COLOR: #eddbc6
}
.XPOrangeExTitle {
	FONT: bold 13px Tahoma, Arial, Helvetica; COLOR: #ffe9cc
}
.XPOrangeText {
	FONT: 11px Tahoma, Arial; COLOR: #222222
}
.XPOrangeTitle {
	FONT: bold 20px Arial, Helvetica; COLOR: #ffffff
}
.XPBlueTopBack {
	FONT: 13px Tahoma, Arial, Helvetica; COLOR: #d6dff5; BACKGROUND-COLOR: #6375d6
}
.XPBlueMainBack {
	BACKGROUND-IMAGE: url(img/xpback.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #6375d6
}
.XPBlueMenuBack {
	FONT: bold 10px Arial, Helvetica; COLOR: #ffffff; BACKGROUND-COLOR: #7aa1e6
}
.XPBlueHorLine {
	BACKGROUND-COLOR: #c5dfff
}
.XPBlueExTitle {
	FONT: bold 13px Tahoma, Arial, Helvetica; COLOR: #d6dff5
}
.XPBlueText {
	FONT: 11px Tahoma, Arial; COLOR: #ffffff
}
.XPBlueTitle {
	FONT: bold 16px Arial, Helvetica; COLOR: #d6dff5
}
.XPSilverTopBack {
	FONT: 13px Tahoma, Arial, Helvetica; COLOR: #eeeeee; BACKGROUND-COLOR: #b1b3c8
}
.XPSilverMainBack {
	BACKGROUND-IMAGE: url(img/xpback_s.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #b1b3c8
}
.XPSilverMenuBack {
	FONT: bold 10px Arial, Helvetica; COLOR: #ffffff; BACKGROUND-COLOR: #c3c7d3
}
.XPSilverHorLine {
	BACKGROUND-COLOR: #dfdfdf
}
.XPSilverExTitle {
	FONT: bold 13px Tahoma, Arial, Helvetica; COLOR: #666666
}
.XPSilverText {
	FONT: 11px Tahoma, Arial; COLOR: #333333
}
.XPSilverTitle {
	FONT: bold 20px Arial, Helvetica; COLOR: #dee4f6
}
.XPOliveTopBack {
	FONT: 13px Tahoma, Arial, Helvetica; COLOR: #e0e7b8; BACKGROUND-COLOR: #a5bd84
}
.XPOliveMainBack {
	BACKGROUND-IMAGE: url(img/xpback_o.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #a5bd84
}
.XPOliveMenuBack {
	FONT: bold 10px Arial, Helvetica; COLOR: #ffffff; BACKGROUND-COLOR: #cbd8ac
}
.XPOliveHorLine {
	BACKGROUND-COLOR: #dfdfdf
}
.XPOliveExTitle {
	FONT: bold 13px Tahoma, Arial, Helvetica; COLOR: #edf1d5
}
.XPOliveText {
	FONT: 11px Tahoma, Arial; COLOR: #333333
}
.XPOliveTitle {
	FONT: bold 20px Arial, Helvetica; COLOR: #e0e7b8
}
.TopBack {
	FONT: 13px Tahoma, Arial, Helvetica; COLOR: #aaaaaa; BACKGROUND-COLOR: #ffffff
}
.Text {
	FONT: 11px Tahoma, Arial; COLOR: #222222
}
.MainBack {
	FONT: bold 10px Arial, Helvetica; COLOR: #222222; BACKGROUND-COLOR: #ffffff
}
.MenuBack {
	FONT: bold 10px Arial, Helvetica; COLOR: #ffffff; BACKGROUND-COLOR: #cccccc
}
.ExTitle {
	FONT: bold 13px Tahoma, Arial, Helvetica; COLOR: #aaaaaa
}
.ParamTitle {
	FONT: bold 16px Arial, Helvetica; COLOR: #222222
}
.ParamBack {
	FONT: 11px Tahoma, Arial; BACKGROUND-COLOR: #ffffff
}
.ParamTbl {
	FONT: 11px Tahoma, Arial; COLOR: #333333
}
.ParamTblTitle {
	FONT: bold 11px Tahoma, Arial, Helvetica; COLOR: #444444; BACKGROUND-COLOR: #cee9f2
}
.ParamTblCell {
	FONT: 11px Tahoma, Arial, Helvetica; COLOR: #222222; BACKGROUND-COLOR: #ecf7f9
}
.StyleNameW {
	FONT: bold 11px MS Sans Serif; COLOR: #ffffff
}
.StyleNameB {
	FONT: bold 11px MS Sans Serif; COLOR: #000000
}
A.White:link {
	FONT: 11px Tahoma, Arial, Helvetica; COLOR: #ffffff; TEXT-DECORATION: none
}
A.White:visited {
	FONT: 11px Tahoma, Arial, Helvetica; COLOR: #ffffff; TEXT-DECORATION: none
}
A.White:hover {
	FONT: 11px Tahoma, Arial, Helvetica; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.White:hover {
	FONT: 11px Tahoma, Arial, Helvetica; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.Dark:link {
	FONT: 11px Tahoma, Arial, Helvetica; COLOR: #3333dd; TEXT-DECORATION: none
}
A.Dark:hover {
	FONT: 11px Tahoma, Arial, Helvetica; COLOR: #5555ff; TEXT-DECORATION: underline
}
A.Dark:visited {
	FONT: 11px Tahoma, Arial, Helvetica; COLOR: #5555cc; TEXT-DECORATION: none
}
A.Dark:hover {
	FONT: 11px Tahoma, Arial, Helvetica; COLOR: #5555ff; TEXT-DECORATION: underline
}
A.Black:link {
	FONT: 11px Tahoma, Arial, Helvetica; COLOR: #222222; TEXT-DECORATION: none
}
A.Black:hover {
	FONT: 11px Tahoma, Arial, Helvetica; COLOR: #000000; TEXT-DECORATION: underline
}
A.Black:visited {
	FONT: 11px Tahoma, Arial, Helvetica; COLOR: #222222; TEXT-DECORATION: none
}
A.Black:hover {
	FONT: 11px Tahoma, Arial, Helvetica; COLOR: #000000; TEXT-DECORATION: underline
}
A.MenuLink:link {
	FONT: 11px Tahoma, Arial, Helvetica; COLOR: #ffffff; TEXT-DECORATION: none
}
A.MenuLink:visited {
	FONT: 11px Tahoma, Arial, Helvetica; COLOR: #ffffff; TEXT-DECORATION: none
}
A.MenuLink:hover {
	FONT: 11px Tahoma, Arial, Helvetica; COLOR: #ffffff; TEXT-DECORATION: none
}
A.MenuLink:hover {
	FONT: 11px Tahoma, Arial, Helvetica; COLOR: #ffffff; TEXT-DECORATION: none
}
.MenuTable {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.MenuItem {
	BORDER-RIGHT: #a0c0ff 1px solid; BORDER-TOP: #a0c0ff 1px solid; BORDER-LEFT: #a0c0ff 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #a0c0ff 1px solid; BACKGROUND-COLOR: #628fe2
}
.MenuItemOver {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; CURSOR: hand; COLOR: #000000; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #285ba5
}
.MenuItemSilver {
	BORDER-RIGHT: #e3e3e3 1px solid; BORDER-TOP: #e3e3e3 1px solid; BORDER-LEFT: #e3e3e3 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #e3e3e3 1px solid; BACKGROUND-COLOR: #a3a3a3
}
.MenuItemOverSilver {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; CURSOR: hand; COLOR: #000000; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #696969
}
.MenuItemOlive {
	BORDER-RIGHT: #e2e4cf 1px solid; BORDER-TOP: #e2e4cf 1px solid; BORDER-LEFT: #e2e4cf 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #e2e4cf 1px solid; BACKGROUND-COLOR: #9fa862
}
.MenuItemOverOlive {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; CURSOR: hand; COLOR: #000000; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #696d2f
}
.MenuItemOrange {
	BORDER-RIGHT: #ffeec9 1px solid; BORDER-TOP: #ffeec9 1px solid; BORDER-LEFT: #ffeec9 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #ffeec9 1px solid; BACKGROUND-COLOR: #c1911f
}
.MenuItemOverOrange {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; CURSOR: hand; COLOR: #000000; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #816300
}
.MenuItemGreen {
	BORDER-RIGHT: #caffd1 1px solid; BORDER-TOP: #caffd1 1px solid; BORDER-LEFT: #caffd1 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #caffd1 1px solid; BACKGROUND-COLOR: #20af1c
}
.MenuItemOverGreen {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; CURSOR: hand; COLOR: #000000; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #258200
}
.MenuItemRed {
	BORDER-RIGHT: #ffeeee 1px solid; BORDER-TOP: #ffeeee 1px solid; BORDER-LEFT: #ffeeee 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #ffeeee 1px solid; BACKGROUND-COLOR: #b11c1c
}
.MenuItemOverRed {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; CURSOR: hand; COLOR: #000000; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #840000
}
